<!doctype html>
<html class="no-js" lang="">

	<head>
		<title>Blog</title>
		<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

		<!-- css link -->
		<!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
		<script src="index.js"></script>
	</head>
	<body>
		<header>
			<h2>Blog</h2>
		</header>
		<!-- <aside>
			<nav>
				<ul>
					<li>list</li>
					<li>create</li>
				</ul>
			</nav>
		</aside> -->
		
		<form>
			<input type="text" id="title"><br/>
			<input type="text" id="content"><br/>
			<input type="submit" id="submit">
		</form>

		<main id=main>
			
		</main>
		
		<footer>
			<div>impressum @johanna</div>
		</footer>
	</body>
</html>